html {
    font-family: sans-serif; // 1
    text-size-adjust: 100%; // 2
    -ms-text-size-adjust: 100%; // 2
    -webkit-text-size-adjust: 100%; // 2
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// General Links
a {
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    text-decoration: none !important;
}

// General ul ol
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

// Canvas
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

// Input elements
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}