.home-current {
    .title {
        font-size: map-get($home-config, 'title-size');
        text-transform: uppercase;
        font-weight: 700;
        color: map-get($home-config, 'title-color');
        span {
            color: $orange;
        }
        &-sub {
            font-family: $font-family-lats;
            font-size: 32px;
            color: $orange;
            line-height: 35px;
            text-transform: capitalize;
            @include media-breakpoint-down(md) {
                font-size: 22px;
                line-height: 30px;
            }
        }
        @include media-breakpoint-down(xl) {
            font-size: map-get($home-config, 'title-size-mobile');
        }
    }
}

.home-slider {
    position: relative;
    .elementor-motion-effects-element {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 6% 0% 3%;
        pointer-events: none;
        img {
            max-width: 770px;
            margin: 0 auto;
        }
    }
}

.home-adviser {
    position: relative;
    padding: 90px 0 50px;
    background-image: url("/assets/images/home/bg-adviser.png");
    .owl-item {
        &:nth-child(4n+1) {
            .home-adviser__item {
                &::before {
                    background: $orange;
                }
            }
        }
        &:nth-child(3n+2) {
            .home-adviser__item {
                &::before {
                    background: $success;
                }
            }
        }
        &:nth-child(3n+3) {
            .home-adviser__item {
                &::before {
                    background: $danger;
                }
            }
        }
        &:nth-child(3n+4) {
            .home-adviser__item {
                &::before {
                    background: $info;
                }
            }
        }
    }
    &__item {
        position: relative;
        z-index: 1;
        padding: 20px 15px 30px;
        border-radius: 15px;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 75%;
            z-index: -1;
            clip-path: polygon(0 0, 100% 1%, 100% 44%, 0% 100%);
        }
        .avt {
            padding: 0 20px;
            @include media-breakpoint-down(xxl) {
                padding: 0 15px;
            }
        }
        .name {
            padding: 0 14px;
            margin-top: -25px;
            @include media-breakpoint-down(xxxl) {
                margin-top: -25px;
                padding: 0 12px;
            }
            @include media-breakpoint-down(xxl) {
                margin-top: -25px;
                padding: 0 8px;
            }
            @include media-breakpoint-down(lg) {
                margin-top: -29px;
            }
            &-shape {
                background: url(/assets/images/home/shape-gv.png);
                height: 84px;
                background-repeat: no-repeat;
                background-size: cover;
                padding-top: 35px;
                @include media-breakpoint-down(xxl) {
                    height: 72px;
                    padding-top: 30px;
                }
                @include media-breakpoint-down(xl) {
                    height: 84px;
                    padding-top: 36px;
                }
                @include media-breakpoint-down(lg) {
                    height: 97px;
                    padding-top: 45px;
                }
                @include media-breakpoint-down(md) {
                    height: 101px;
                }
            }
            &-sub {
                text-transform: uppercase;
                font-size: 12px;
                line-height: 15px;
                font-weight: 700;
                font-family: $font-family-stylized;
                @include media-breakpoint-down(xxl) {
                    font-size: 11px;
                }
            }
            &-title {
                text-transform: uppercase;
                font-weight: 600;
                @include media-breakpoint-down(xxl) {
                    font-size: 15px;
                }
                @include media-breakpoint-down(md) {
                    font-size: 18px;
                }
            }
        }
        .desc {
            margin-top: 15px;
            font-family: $font-family-stylized;
            font-weight: 600;
            line-height: 22px;
            font-size: 15px;
            color: #585858;
            p {
                margin: 0;
            }
        }
    }
}

.home-companion {
    position: relative;
    z-index: 2;
    padding: 90px 0;
    @include media-breakpoint-down(md) {
        padding: 35px 0 90px;
    }
    &__text {
        padding-left: 95px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        @include media-breakpoint-down(xxl) {
            padding-left: 30px;
        }
        @include media-breakpoint-down(xl) {
            padding-left: 0px;
        }
        .desc {
            color: #70747f;
            font-family: $font-family-stylized;
        }
    }
    &__shape-1 {
        position: absolute;
        right: 100px;
        bottom: -30px;
        -webkit-animation: move-shape-3 1200ms linear infinite;
        animation: move-shape-3 1200ms linear infinite;
        @include media-breakpoint-down(xxxl) {
            max-width: 290px;
            bottom: -100px;
            img {
                width: 100%;
            }
        }
        @include media-breakpoint-down(xxl) {
            max-width: 200px;
        }
        @include media-breakpoint-down(md) {
            max-width: 150px;
            bottom: -50px;
            right: 30px;
        }
    }
}

.home-slugon {
    padding: 200px 0;
    position: relative;
    background-color: $primary;
    @include media-breakpoint-down(lg) {
        padding: 130px 0;
    }
    @include media-breakpoint-down(md) {
        padding: 90px 0;
    }
    &::before {
        background-image: url("/assets/images/home/home-banner-wave2.png");
        background-repeat: no-repeat;
        position: absolute;
        content: "";
        height: 160px;
        width: 100%;
        top: 0;
        left: 0;
    }
    &::after {
        background-image: url("/assets/images/home/home-banner-wave.png");
        background-repeat: no-repeat;
        position: absolute;
        content: "";
        height: 160px;
        width: 100%;
        bottom: 0;
        left: 0;
    }
    .effect-wrapper {
        position: relative;
        overflow: hidden;
        margin: 0;
        width: 130px;
        display: inline-block;
        height: 100px;
        line-height: 100px;
        background-image: url("/assets/images/home/video-play-btn.png");
        background-repeat: no-repeat;
        .icon {
            position: absolute;
            left: 50px;
            top: 35px;
            z-index: 2;
            line-height: normal;
            i {
                color: $orange;
                font-size: 22px;
            }
        }
        a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
        }
    }
    .text {
        font-size: 45px;
        letter-spacing: 1px;
        font-family: $font-family-lats;
        line-height: 55px;
        @include media-breakpoint-down(xxxl) {
            font-size: 40px;
            line-height: 50px;
        }
        @include media-breakpoint-down(lg) {
            font-size: 30px;
            line-height: 40px;
        }
        @include media-breakpoint-down(md) {
            font-size: 20px;
            line-height: 25px;
            &:first-child {
                margin-bottom: 8px;
            }
        }
    }
    .shape-1,
    .shape-2 {
        position: absolute;
        pointer-events: none;
        z-index: 2;
        @include media-breakpoint-down(xxxl) {
            max-width: 290px;
            img {
                width: 100%;
            }
        }
        @include media-breakpoint-down(xl) {
            max-width: 200px;
            bottom: -30px !important;
        }
        @include media-breakpoint-down(md) {
            max-width: 100px;
            bottom: 0px !important;
        }
    }
    .shape-1 {
        bottom: -58px;
        left: 33px;
        -webkit-animation: move-shape-2 1200ms linear infinite;
        animation: move-shape-2 1200ms linear infinite;
    }
    .shape-2 {
        bottom: -72px;
        right: 40px;
        -webkit-animation: move-shape-3 1200ms linear infinite;
        animation: move-shape-3 1200ms linear infinite;
    }
}

.home-partner {
    &__item {
        padding: 20px 30px;
        border-style: solid;
        border-width: 1px;
        border-color: #d8d8d8;
        box-shadow: 8px 8px 0 0 #ededed;
        cursor: pointer;
    }
    .owl-nav {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        button {
            width: 40px;
            height: 40px;
            background: #f2f2f2 !important;
            border-radius: 2px;
            margin: 0 3px;
        }
    }
}

.home-school-partner {
    background-image: url("/assets/images/home/bg-courses.png");
    background-size: cover;
    .slider-item {
        display: flex;
        flex-wrap: wrap;
        .item {
            width: 20%;
            cursor: pointer;
            @include media-breakpoint-down(lg) {
                width: 25%;
            }
            @include media-breakpoint-down(md) {
                width: 50%;
            }
        }
    }
}